.logo-img {
    height: 40px;
    width: 40px;
}

nav {
    display: flex;
    justify-content: space-around;
    background:rgb(59, 59, 59);
    align-items: center;
    
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li {
    list-style: none;
    padding:10px 20px;
    color:white;
    text-transform: uppercase;
}
nav ul a {
    color:white;
    text-decoration: none;
}


/* 
.................................Register Form */
.register-form {
  
    padding:10px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(0 0 0 / 0.2);
    border-radius: 3px;
    margin: 5px;
}
.form-label {
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    justify-content: flex-end;
    margin: 20px;
}

.form-label input {
    border: 2px solid white;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
    background:white;
    padding:10px 20px;
    
    border-radius: 3px;
    /* background-color: transparent; */
    /* padding: 2px; */
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateZ(0);
    
}

.register-btn {
    padding:10px 20px;
    background: #4a4aa8;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 500;
    /* text-transform: uppercase; */
    border-radius: 30px;
    text-decoration: none;
}
/* ..................................... */

/* Login Form .........................*/
.login-btn {
    padding:10px 20px;
    background: #4a4aa8;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 500;
    /* text-transform: uppercase; */
    border-radius: 30px;
    text-decoration: none;
}
.login-form {
    
    padding:10px;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(0 0 0 / 0.2);
    border-radius: 3px;
    margin: 5px;
}


/* ................................................ */


/* media query for navbar */
   

/* ........................... */