

.main-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-item {
    border: 2px solid white;
    box-shadow: 0 2px 7px rgb(0 0 0 / 0.2);
    background:white;
    align-items: center;
    justify-content: center;
    flex-basis: 20%; 
    border-radius: 10px;
    /* background-color: transparent; */
    padding: 15px;
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateZ(0);
    margin:5px 5px;
}

.view-btn {
    padding:10px 20px;
    background: #c4c4f7;
    color:#fff;
    outline: none;
    border: none;
    font-weight: 500;
    /* text-transform: uppercase; */
    border-radius: 50px;
    text-decoration: none;
}

.view-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid white;
    box-shadow: 0 2px 7px rgb(0 0 0 / 0.2);
    background:white;
    align-items: center;
    justify-content: center;
    flex-basis: 20%; 
    border-radius: 10px;
    /* background-color: transparent; */
    padding: 15px;
    box-sizing: border-box;
    transition: transform .5s;
    transform: translateZ(0);
    margin:5px 5px;

  
   
}
.close {
    display: flex;
    justify-content: flex-end;
    color: blue;

  
}

.like-comment-share {
    display: flex;
    justify-content: space-around;
    
}

.user {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    margin-top:20px;
    margin-right: 20px;
    color: blue;
}

